<div ng-controller="selectCtrl" class="home-container">
    <div class="contain-center">
    <header>TRIVIA ARCADE</header>
    <div class="titles">
        <header>CATEGORY</header>
        <header>DIFFICULTY</header>
        <header>HIGH SCORES</header>
    </div>
    <div class="select-game">
        <div class="scroll-box category">
            <button>Sports</button>
            <button>Geography</button>
            <button>Computer Science</button>
            <button>Television</button>
            <button>General Knowledge</button>
            <button>Movies</button>
            <button>History</button>
        </div>
        <div class="scroll-box difficulty">
            <button>easy</button>
            <button>medium</button>
            <button>hard</button>
            <button>any</button>
        </div>
        <div class="scroll-box high-scores">
            <div>1.</div>
            <div>2.</div>
            <div>3.</div>
            <div>4.</div>
        </div>
    </div>
    <footer><button>PLAY</button></footer>
    <div>
</div>



