<div class="home-container">
    <div class="contain-center trivia">

        <header>scores and stuff</header>

        <div class="question">
            <h5>{{trivia[index].question}}</h5>
            <div class="answer-container">
            <button class="answer" ng-repeat="x in trivia[index].incorrect_answers">{{x}}</button>
            </div>
        </div>

        <footer>  
            {{ time_remaining }} seconds remaining!
            <div ng-class="startTimer ? 'start_timer' : 'nope' ">
                <span>{{ time_remaining }} seconds remaining!</span>
            </div>
        </footer>

    </div>
</div>