<div ng-controller="triviaCtrl" class="home-container">
    <div class="contain-center trivia">

        <header>scores and stuff</header>

        <div class="question">
            <h5>{{trivia[index].question}}</h5>
            <div class="answer-container">
            <button class="answer" ng-repeat="x in trivia[index].incorrect_answers">{{x}}</button>
            </div>
        </div>

        <footer>
            <!-- Time is running out! -->
            15 seconds remaining!
        </footer>

    </div>
</div>