.questions .q-header {
    font-size: 25px;
    padding: 20px;
    border-bottom: 2px solid rgb(113, 133, 123);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.questions .q-header div {
    /* font-size: 20px; */
}

/* MIDDLE SECTION */

.correct-highlight {
    /* I very rarely use !important but in this case it makes sense, 
    an alternative would be not re-using button styles and creating them from scratch,
    but that would break the DRY methodology */
    background-color: rgb(175, 240, 210) !important; 
    color: rgb(113, 133, 123) !important;
    border: none !important;
}

.incorrect-highlight {
    background-color: rgb(113, 133, 123) !important;
    /* color: rgb(175, 240, 210) !important; */
    opacity: .5;
    color: #303238 !important;
    /* border: none !important; */
}

#no-click-btn {
    cursor: default;
    border-top: 4px solid rgb(113, 133, 123);
    border-right: 4px solid rgb(113, 133, 123);
    border-bottom: 4px solid rgb(175, 240, 210);
    border-left: 4px solid rgb(175, 240, 210);
    color: rgb(113, 133, 123);
    padding-left: 5px;
    padding-right: 5px; 
}

#no-click-btn:hover {
    background: initial;
}

.app-nav-container {
    border-top: 2px solid rgb(113, 133, 123);
    display: flex;
}

.app-nav-container a {
    width: 50%;
    /* border: 1px solid blue; */
    text-align: center;
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color:inherit;
}

.app-nav-container a:nth-child(1){
    border-right:  2px solid rgb(113, 133, 123);
}

.app-nav-container a:hover {
    /* background: #1D1D1F; */
    color: rgb(113, 133, 123);
}

.questions .q-footer {
    /* border: 1px solid fuchsia; */
    margin-top: -30px;
    /* border-top: 2px solid rgb(113, 133, 123); */
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

/* all footer btns */
.q-footer button {
    padding: 0;
    width: initial;
    background-color: transparent;
}

.q-footer .round-nav-btn:hover {
    color: rgb(113, 133, 123);
}

.q-footer .nav-btn {
    font-size: 30px;
    width: 25%;
    padding: 0;
}

.q-footer .nav-btn:hover {
    color: rgb(113, 133, 123);
}

.q-footer .nav-btn i {
    /* because font-awesome icons only come in limited sizes */
    transform: translateY(-2.5px) scale(1.1);
}

.q-footer .nav-btn-left {
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.q-footer .nav-btn-left:hover { 
    /* background: linear-gradient(270deg, rgba(0,0,0,0), #1D1D1F); */
    /* color: rgb(113, 133, 123); */
}

.q-footer .nav-btn-right {
    text-align: right;
    padding-right: 30px;
}

.q-footer .nav-btn-right:hover {
    /* background: linear-gradient(90deg, rgba(0,0,0,0), #1D1D1F); */
    /* color: rgb(113, 133, 123); */
}